<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>UserAccount</title>
</head>
<link rel="stylesheet" href="/styles/login.css">
<body class="gradient-background">
    <div class="box">
        <div class="content">
            <a title="Sarang, Public domain, via Wikimedia Commons" ><img width="128" alt="Default pfp" src="https://upload.wikimedia.org/wikipedia/commons/thumb/2/2c/Default_pfp.svg/128px-Default_pfp.svg.png"></a>
            <h2>Login with your existing credentials</h2>
            <br><br>
            <div class="account">
                <form action="/login" method="post">
                    <label for="email">Email</label>
                    <input type="email" name="username" id="email" value="" placeholder="example@email.com">
                    <br><br>
                    <label for="password">Password</label>
                    <input type="password" name="password" id="password" value="" placeholder="">
                    <br><br>
                    <input type="reset" value="RESET" class="sm-input">
                    <input type="submit" value="SUBMIT" class="sm-input">
                </form>
            </div>
            
        </div>
    </div>
</body>
</html>