<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Secrets</title>
</head>
<link rel="stylesheet" href="/styles/secrets.css">
<body class="gradient-background">
    <div class="box">
        <h1>Trading Lessons:</h3>
        <div class="content">
            <h3><%= username %></h3>
            <ol>
                <li> Don't Be Greedy</li>
                <li> Don't forget to Take Profits</li>
                <li> Invest Long Term</li>
                
            </ol>
        </div>
    </div>
</body>
</html>